body {
 display:grid;
 width:100%;
 margin:0px;
 border:1px solid blue;
 grid-template-areas:"header header"
                     "nav nav"
                     "section aside"
                     "footer footer";
 grid-template-rows:80px 40px minmax(400px,auto) auto;
 grid-template-columns: 1fr 25%;                   
}
.border{
    background-color: solid blue;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
section{
    grid-area: section;
}
.connection{text}
body {@media (max-widht:800px) 
    display: grid;
    grid-template-rows: 80px auto minmax(400px auto) auto;
    grid-template-columns:  100%;
}